@{
    ViewData["Title"] = "Escuela";
    Layout = "Simple";
}

<div class="text-center">
    <h1>Nombre escuela: @Model.Nombre</h1>
    <p>Año de fundacion de la escuela: @Model.AñoDeCreación </p>
</div>
